<% if(typeof errors != 'undefined') { %>
    <% errors.forEach(function(error) {%>
        <div class="text-center text-danger bg-warning three">
            <%= error.msg %>
        </div>
    <% }); %>
<% } %>

<% if(success_msg != '') { %>
    <div class="text-center text-success">
        <%= success_msg %>
    </div>
<% } %>

<% if(error_msg != '') { %>
    <div class="text-center text-danger bg-warning one">
        <%= error_msg %>
    </div>
<% } %>

<% if(error != '') { %>
    <div class="text-center text-danger bg-warning two">
        <%= error %>
    </div>
<% } %>