<header class="masthead bg-primary text-white text-center">
    <div class="container text-center">
        <img class="img-fluid mb-5 d-block mx-auto" src="../img/profile.png" alt="">
        <h1 class="text-uppercase mb-0">Welcome</h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0">Name: <%= user.name %></h2>
        <h2 class="font-weight-light mb-0">Email: <%= user.email %></h2>
        <h2 class="font-weight-light mb-0">Phone Number: <%= user.phone %></h2>
        <div class="row">
            <div class="col-md-12 text-center mt-4">
                <a class="btn btn-xl btn-outline-light" href="/user/logout">
                    Logout
                </a>
            </div>
        </div>
    </div>
</header>