<header class="masthead bg-primary text-white text-center">
    <div class="container text-center">
        <h1 class="text-uppercase mb-0">Welcome Here</h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0">You can Login or Register Here</h2>
        <div class="row">
            <div class="col-md-6 text-right mt-4">
                <a class="btn btn-xl btn-outline-light" href="/user/login">
                    Login
                </a>
            </div>
            <div class="col-md-6 text-left mt-4">
                <a class="btn btn-xl btn-outline-light" href="/user/register">
                    Register
                </a>
            </div>
        </div>
    </div>
</header>